.sola_st_post_author_image {
    float:left;
    display:block;
    width:75px;
}
.sola_st_post_title { margin-top:2px; margin-bottom:2px; margin-left:0; margin-right:0; font-style: italic; color:#666; }
.sola_response_user { font-weight:bold; color:#333; }
.sola_response_time { color: #bbb; font-size:11px; }
.sola_button {
    
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    -webkit-box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
    box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;   
    
    
}
.sola_st_post_box { float:left; }
.sola_st_pending_approval_span { font-weight:bold; color:#cc0000; }